body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  height: 70px !important;
  align-content: center !important;
}
.theForms {
  padding: none !important;
  margin: none !important;
  border: black solid 1px;
}

.time {
  padding: none !important;
  margin: none !important;
  align-self: center !important;
}

#theForm {
  padding: none !important;
  margin: none !important;
  align-content: center !important;
}

.form-group {
  margin-bottom: 0 !important;
}

.form-control {
  height: 67px !important;
  margin: none !important;
  width: none !important;
  padding: none !important;
}

.btn {
  background-color: #00bfff !important;
  border-radius: 0 !important;
}
