body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time {
  border: black solid 10px !important;
}

.theForms {
  padding: none !important;
  margin: none !important;
  border: black solid 1px;
}
/* 
#save {
  border: black solid 10px !important;
  /* visibility: hidden !important; */
} */

#to-do,
#tenAmToDo {
  background: lightgreen;
}
